<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nedelingg.design"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nedelingg.design.BrokerMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nedelingg.design.InfoMessageActivity"
            android:label="@string/title_activity_info_message" >
        </activity>
        <activity
            android:name="com.nedelingg.design.OptionActivity"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name="com.nedelingg.design.options.tabs.GameOptionsTabActivity"
            android:label="@string/title_activity_game_options_tab" >
        </activity>
        <activity
            android:name="com.nedelingg.design.options.tabs.PlayersOptionsTabActivity"
            android:label="@string/title_activity_players_options_tab" >
        </activity>
        <activity
            android:name="com.nedelingg.design.options.tabs.CompaniesOptionsTabActivity"
            android:label="@string/title_activity_companies_options_tab" >
        </activity>
        <activity
            android:name="com.nedelingg.design.LoadingActivity"
            android:label="@string/title_activity_loading" >
        </activity>
        <activity
            android:name="com.nedelingg.design.DemoFirstPageActivity"
            android:label="@string/title_activity_demo_first_page" >
        </activity>
        <activity
            android:name="com.nedelingg.design.game.GameMainActivity"
            android:label="@string/title_activity_game_main"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
